<div class="card">
    <p-carousel class="carrossel-servicos" [value]="equipeArray" [numVisible]="1" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="2000">
        <ng-template let-membro pTemplate="item">
            <div class="border-1 surface-border border-round" style="width: 100%;">
                <app-card-membro
                    [nome]="membro.nome"
                    [funcao]="membro.funcao"
                    [description]="membro.description"
                    [image]="membro.image"
                ></app-card-membro>
            </div>
        </ng-template>
    </p-carousel>
</div>
