<div class="card">
    <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
        <ng-template let-image pTemplate="item">
            <div class="border-1 surface-border border-round" style="width: 100%;">
                <div class="mb-3">
                    <div class="relative mx-auto" style="width: 100%;">
                        <img src="../../../../assets/images/carrossel/{{image.name}}.jpeg" class="w-full border-round"
                            style="display: block; width: 100%; height: auto;" />
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>