.hero-container {
    background-image: url(../../../../assets/images/capa.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 30%;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    .content {
        width: 100%;
        min-height: 40%;
        padding:0 0 20px 20px;
        box-sizing: border-box;

        div {
            display: flex;
            justify-content: space-between;
            width: 185px;
            align-items: center;

            img {
                width: 70px;
                height: 70px;
            }

            h1 {
                font-size: 18px;
                color: #e9e18e;
                text-transform: uppercase;
            }
        }

        .title {
            color: #f8f1a5;
            font-size: 1em;
            margin-bottom: 0;
        }

        p {
            width: 65%;
            color: #f1eeca;
            font-size: 16px;
            font-weight: 500;
            text-align: start;
            margin-top: 3px;
        }

        a {
            background:  rgba(248, 229, 120, 1);
            text-decoration: none;
            color: #3a3503;
            font-weight: bold;
            font-size: 13px;
            padding: 6px 10px;
            border-radius: 30px;
            transition: background .6s ease-out;

            &:hover{
                background: rgb(251, 225, 77);
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    .hero-container {
        width: 100%;
        height: 280px;
        background-image: url(../../../../assets/images/capa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        justify-content: end;

        .content {
            width: 100%;
            height: 60%;
            padding-left: 20px;
            box-sizing: border-box;

            div {
                display: flex;
                justify-content: space-between;
                width: 75px;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                }

                h1 {
                    font-size: 7px;
                    color: #e9e18e;
                    text-transform: uppercase;
                }
            }

            .title {
                color: #f8f1a5;
                font-size: 12px;
                width: 240px;
                margin-bottom: 0;
            }

            p {
                width: 70%;
                color: #f1eeca;
                font-size: 8px;
                font-weight: bold;
                text-align: start;
                margin-top: 3px;
            }

            a {
                background: linear-gradient(180deg, rgba(190, 128, 5, 1) 47%, rgba(248, 229, 120, 1) 100%);
                text-decoration: none;
                color: #3a3503;
                font-weight: bold;
                font-size: 12px;
                padding: 3px 10px;
                border-radius: 30px;
            }
        }
    }
}
