.hero-container {
    width: 100%;
    aspect-ratio: 600 / 422; // Mantém a proporção da imagem
    background-image: url(../../../../assets/images/capa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .content {
        width: 100%;
        height: 38%;
        padding-left: 20px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: start;

        div {
            display: flex;
            justify-content: space-between;
            width: 98px;
            align-items: center;
            margin-bottom: 10px;

            img {
                width: 35px;
                height: 35px;
            }

            h1 {
                font-size: 10px;
                color: #e9e18e;
                text-transform: uppercase;
            }
        }

        a {
            background: #f6e275;
            text-decoration: none;
            color: #5d523a;
            font-weight: bold;
            font-size: 12px;
            padding: 3px 6px;
            border-radius: 30px;
            width: 180px;
            text-align: center;
        }
    }
}