<div class="hero-container">
    <div class="content">
        <div>
            <img src="../../../../assets/images/logo.png" alt="Logomarca LC Produções">
            <h1>Produções</h1>
        </div>

        <h1 class="title">
            Venha fazer parte dessa história incrível, musical e transformadora!
        </h1>

        <p>
            Descubra como nossa música conecta emoções, transforma comunidades e cria 
            momentos inesquecíveis. Clique abaixo e seja parte dessa jornada!
        </p>

        <a href="">Descubra Nossa Produtora!</a>
    </div>
</div>