button {
    i {
        font-size: 2em;
    }
}


ul {
    display: flex;
    flex-direction: column;
    background-color: #f6e275;
    padding: 10px 0 0 18px;

    width: 150px;

    li{
        list-style: none;

        a{
            text-decoration: none;
            color: #c1850b;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .whatsapp{
        width: 100px;
        background-color: #0dbf43;
        border-radius: 8px;
        padding: 2px 8px;
        margin: 5px 0 10px 0;

        a{
            color: #fff;

            span{
                margin-left: 3px;
            }
        }
    }
}