<button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars"></i></button>
<mat-menu #menu="matMenu">
    <ul>
        <li>
            <a (click)="scrollToSection('inicio')">Início</a>
        </li>
        <li>
            <a (click)="scrollToSection('banda')">Banda</a>
        </li>
        <li>
            <a (click)="scrollToSection('equipe')">Nossa Equipe</a>
        </li>
        <li>
            <a (click)="scrollToSection('sobre')">Sobre</a>
        </li>
        <li>
            <a (click)="scrollToSection('servicos')">Serviços</a>
        </li>
        <li class="whatsapp">
            <a href="">
                <i class="fa-brands fa-whatsapp"></i>
                <span>Saiba mais</span>
            </a>
        </li>

    </ul>
</mat-menu>