<footer>
    <div class="container">
        <div class="footer-logo">
            <img src="../../../assets/images/logo.png" alt="Logo da Banda">
        </div>
        <div class="navegar">
            <p>Navegar</p>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#banda">Banda</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#equipe">Equipe</a></li>
                <li><a href="#sobre">Sobre</a></li>
            </ul>
        </div>
        <div class="contatos">
            <p>Contatos</p>
            <ul>
                <li>
                    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>

                <li>
                    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>

                <li>
                    <a href="https://whatsapp.com" target="_blank" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="info">
    <p><b>CNPJ:</b> 17.221.352/0001-70</p>
    <p><b>Email:</b> sommovimentoorquestraebanda&#64;gmail.com</p>
</div>