<div class="card">
    <p-carousel class="carrossel-servicos" [value]="servicosArray" [numVisible]="responsividade" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="5000">
        <ng-template let-servico pTemplate="item">
            <div class="border-1 surface-border border-round" style="width: 100%;">
                <app-servicos class="servicos-content"
                    [image]="servico.image"
                    [title]="servico.title"
                    [description]="servico.description"
                    [text]="servico.textButton"
                ></app-servicos>
            </div>
        </ng-template>
    </p-carousel>
</div>