<app-header></app-header>

<app-hero id="inicio"></app-hero>

<div class="carrossel" id="banda">
    <h1>Orquestra e Banda Som & Movimento Muito Além da Música</h1>
    <app-corousel></app-corousel>
</div>

<div class="banda">
    <h2>Uma mistura de ritmos, tradição e paixão que encanta em cada acorde</h2>
    <p>
        Fundada em 2022, a Orquestra e Banda Som & Movimento traz a riqueza da música brasileira em todas as suas
        formas. Do
        frevo ao samba, passando pelo pop rock e boleros, a banda conecta gerações com apresentações vibrantes e
        inesquecíveis.
        Mais do que música, entregamos emoção e histórias em cada evento.
    </p>
    <app-hire-now-button textButton="Contrate a Banda Agora!" altStyle="normal"></app-hire-now-button>
</div>

<div class="servicos" id="servicos">
    <h3>Serviços</h3>
    <app-caroussel-servicos class="container-caroussel"></app-caroussel-servicos>
    <app-hire-now-button textButton="Saiba mais" altStyle="saiba"></app-hire-now-button>
</div>

<div class="equipe flex" id="equipe">
    <h4>Nossa Equipe</h4>
    <app-carroussel-equipe></app-carroussel-equipe>
</div>

<div class="sobre" id="sobre">
    <img src="../../../assets/images/logo.png" alt="Logo da Banda">
    <p>Na LC Produções, nossa missão é transformar eventos em experiências inesquecíveis. Especializados 
        em serviços musicais, como shows, festivais e casamentos, trazemos energia, qualidade e profissionalismo 
        para cada projeto. Além de produzir e executar eventos ao vivo, temos um compromisso forte com a comunidade, 
        atuando em projetos sociais e culturais que impactam positivamente a sociedade. Acreditamos que a música e a 
        arte têm o poder de unir pessoas e criar memórias únicas. Nosso foco é atender empresas e contratantes de eventos, 
        oferecendo soluções personalizadas e resultados que superam expectativas. Com um olhar voltado para o futuro,paixão 
        pela música e pela cultura para além das fronteiras.
    </p>
    <app-hire-now-button textButton="Conheça Nossa História!" altStyle="alt"></app-hire-now-button>

</div>

<app-footer></app-footer>