.carrossel,
.banda,
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 10px 0;
    margin-bottom: -1px;
    background: #c1850b;

    h1,
    h2 {
        width: 90%;
        margin: 0;
        color: #f8f1a5;
        text-align: center;
        font-size: 18px;
    }

    p {
        width: 95%;
        margin-top: 10px;
        color: #f1eeca;
        text-align: center;
    }
}

.banda {
    padding-bottom: 25px;
}

hr {
    margin: 0;
    background-color: #e9e18e;
    height: 0px;
}

.container-caroussel{
    width: 100%;
    padding: 0;
    margin: 0;
}
