.carrossel,
.banda,
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 10px 0;
    margin-bottom: -1px;
    background: #c1850b;

    h1,
    h2 {
        width: 90%;
        margin: 0;
        color: #f8f1a5;
        text-align: center;
        font-size: 18px;
    }

    p {
        width: 95%;
        margin-top: 10px;
        color: #f1eeca;
        text-align: center;
    }
}

.carrossel{
    padding-top: 20px;
}

.banda {
    padding-bottom: 25px;
}

hr {
    margin: 0;
    background-color: #e9e18e;
    height: 0px;
}

.container-caroussel {
    width: 100%;
}

.servicos>h3 {
    width: 90%;
    margin: 0 0 12px 0;
    color: #f8f1a5;
    text-align: center;
    font-size: 24px;
}

.servicos{
    border-top: 1px solid #e9e18e;
    padding: 20px 0;
}

.equipe {
    text-align: center;
    background-color: #f8f1a5;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    transition: transform 0.3s ease-in-out;

    h4 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
        color: #5d523a;
    }
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f1a5;
    padding: 10px;
    margin-bottom: -1px;

    border-top: 1px solid #c1850b;

    img {
        width: 90px;
        height: 90px;
        padding-top: 10px;
    }

    p {
        width: 95%;
        margin-top: 10px;
        color: #5d523a;
        font-weight: 500;
        margin-bottom: 20px;
    }
}