<app-header></app-header>

<app-hero id="inicio"></app-hero>

<div class="carrossel" id="banda">
    <h1>Orquestra e Banda Som & Movimento Muito Além da Música</h1>
    <app-corousel></app-corousel>
</div>

<div class="banda" id="sobre">
    <h2>Uma mistura de ritmos, tradição e paixão que encanta em cada acorde</h2>
    <p>
        Fundada em 2022, a Orquestra e Banda Som & Movimento traz a riqueza da música brasileira em todas as suas formas. Do
        frevo ao samba, passando pelo pop rock e boleros, a banda conecta gerações com apresentações vibrantes e inesquecíveis.
        Mais do que música, entregamos emoção e histórias em cada evento.
    </p>
    <app-hire-now-button textButton="Contrate a Banda Agora!" altStyle="normal"></app-hire-now-button>
</div>

<hr>

<div class="servicos" id="servicos">
    <app-caroussel-servicos class="container-caroussel"></app-caroussel-servicos>
    <app-hire-now-button textButton="Saiba mais" altStyle="saiba"></app-hire-now-button>
</div>
