@import '@angular/cdk/overlay-prebuilt.css';

body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI';
}

html {
    height: 100%;
}

.p-carousel-indicators{
    display: none;
}

.p-carousel-prev,
.p-carousel-next{
    border: none;
}